* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imagenes/Fondo.jpg");
    background-size: cover;
}

label {
    display: flex;
    margin-left: 20px;
    font-weight: 800;
}

.contenedor {
    text-align: center;
    background: white;
    background-image: url("imagenes/3pt.png");
    height: 90px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.container {
    border: 1px solid rgba(0, 42, 255, 0);
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgb(78, 229, 221);
}

.col {
    border: 1px solid rgba(185, 28, 28, 0);
    border-radius: 10px;
    flex-wrap: wrap;
}

.p-3 {
    border: 1px solid rgba(255, 0, 221, 0);
    border-radius: 5px;
    background-color: #da6fc1;
}


.datos {
    position: relative;
    bottom: 25px;
    width: 50%;
    border: 3px solid rgb(231, 158, 0);
    border-radius: 10px;
    margin-left: 40%;
}

.rtx {
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
    justify-content: center;
}

.mensaje {
    width: 60%;
    margin-left: 30%;
}

.mensaje-exito {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

p {
    text-align: left;
}

.mb-3 {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 255, 255, 0.283);
}



.modal-content {
    background-color: #b277af;
    background-image: url('imagenes/1pt.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-header {
    color: #fff;
}


.center-container {
    display: flex;
    justify-content: center;
}

.animal-button {
   
    padding: 10px;
    background-color: #dd8811;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.animal-button:hover {
    background-color: #c07814;
}

.mensaje-error {
    position: relative;
    bottom: 25px;
    color: rgb(175, 3, 3);
    font-size: 18px;
    font-weight: 800;
    margin-left: 40%;
    margin-top: 5px;
}

.card-img-top {
    height: 40%;
}

.btn-danger {
    margin-right: 20px;
}



.tarjeta {
    border: 1px solid rgba(59, 229, 3, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta .card {
    max-width: 200px;
    text-align: center;
}

.tarjeta .card img {
    max-width: 100%;
}

.tarjeta .card-body {
    height: 350px;
    padding: 10px;

}

.tarjeta .card-title {
    font-size: 18px;
    font-weight: bold;
}


.tarjeta .card-text {
    font-size: 14px;
}

.card-sita-terminada {
    background-color: rgb(182, 224, 134);
    border: 3px solid rgb(5, 157, 0);
}

.card-sita-cancelada {
    background-color: rgb(229, 110, 110);
    border: 3px solid rgb(251, 0, 0);
}

@media (max-width: 400px) {
    .datos {
        margin: 30px;
        width: 70%;
    }

    .mensaje-error {
        position: relative;
        bottom: 50px;
        right: 50px;
    }


}